.hero-splash-container {
    height: 100vh;
    min-width: 1000px;
}

/* ---------------- FADE ANIMATIONS -------------- */
.fade-in-logo {
    opacity: 0;
    animation: fade-in 1.4s ease-in 0s forwards;
}

.fade-in-buttons {
    opacity: 0;
    animation: fade-in 0.6s ease-in 0s forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-out {
    opacity: 0;
    animation: fade-out 1s ease-in 0s forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* ---------------------- HERO -------------------- */
.hero-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.hero-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ---------- SPLASH (LOGIN, SIGNUP, ETC) -------- */
.splash-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.login-signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hero-logo {
    margin: 0px 0px 40px 25px;
}

.welcome-title {
    font-size: 2.5rem;
    color: #333;
    margin-top: -20px;
    margin-bottom: 27px;
}

/* ---------- LOGIN SIGNUP DEMO BUTTONS ---------- */
.login-button,
.signup-button,
.demo-button,
.logout-button,
.enter-room-button,
.enter-last-room-button,
.reset-button {
    width: 265px;
    height: 80px;
    border-radius: 6px;
    border: none;
    box-shadow: 2px 4px 14px 0.5px #333;
    transition: opacity 0.5s ease;
    font-size: 2rem;
    font-weight: 500;
    color: #333;
}

.login-button:hover,
.signup-button:hover,
.demo-button:hover,
.logout-button:hover,
.reset-button:hover,
.enter-room-button:hover,
.enter-last-room-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.login-button {
    background-color: #C1B2AB;
}

.signup-button {
    background-color: #4F7F9B;
}

.demo-button {
    background-color: #D9D9D9;
}

.logout-button {
    background-color: #D9D9D9;
}

.reset-button {
    background-color: rgb(214, 0, 0);
    color: #FFF;
}

.user-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.enter-room-num-1 {
    font-weight: 700;
}

.enter-room-num {
    color: #666;
    font-weight: 700;
}

.demo-rec {
    max-width: 480px;
    text-align: justify;
    font-weight: 500;
}
