.hero-splash-container {
    height: 100vh;
    min-width: 1000px;
}

.splash-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash-logo-container {
    margin-left: 20px;
}

.welcome-title {
    color: #D9D9D9;
    margin: 35px 0px;
}

/* ---------- LOGIN SIGNUP DEMO BUTTONS ---------- */
.login-button,
.signup-button,
.demo-button,
.logout-button,
.room-1-button {
    width: 250px;
    height: 75px;
    border-radius: 6px;
    border: none;
    box-shadow: 2px 2px 12px 2px #000;
    transition: opacity 0.5s ease;
    font-size: 2rem;
    font-weight: 500;
    color: #333;
}

.login-button:hover,
.signup-button:hover,
.demo-button:hover,
.logout-button:hover,
.room-1-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.login-button {
    background-color: #C1B2AB;
    margin-right: 25px;
    margin-top: 30px;
}

.signup-button {
    background-color: #4F7F9B;
    margin-top: 30px;
}

.demo-button {
    background-color: #D9D9D9;
    margin-top: 25px;
}

.logout-button {
    background-color: #D9D9D9;
    margin: 30px 0px 0px 30px;
}
