/* ERROR LIST */
.error-list {
    color: rgb(159, 0, 0);
    font-weight: 600;
    background-color: rgba(153, 8, 8, 0.351);
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.error-list-item {
    margin-bottom: 5px;
}

.error-list-item:last-child {
    margin-bottom: 0px;
}


/* FORMS */
.create-note-form,
.update-note-form,
.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-field-input {
    padding: 20px 75px;
    border: none;
    box-shadow: 1px 1px 6px 0px #333;
    transition: box-shadow 0.7s ease-out;
    font-size: 1.1rem;
    text-align: center;
    width: 400px;
}

.form-field-input:focus {
    outline: none;
    box-shadow: 1px 1px 22px 0px #333;
}

.form-field-input::placeholder {
    color: #999;
    opacity: 0.6;
}

.first-field-input {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.last-field-input {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.req-text {
    margin-top: 10px;
    font-weight: 600;
}

.form-field-textarea {
    height: 255px;
    resize: none;
    overflow-y: auto;
    /* line-height: 22px;
    white-space: pre-wrap;
    word-break: break-word;
    outline: none;
    border: none; */
}


/* PROFILE PIC PREVIEW */
.profile-pic-prev-container {
    margin-top: 10px;
}

.profile-pic-preview {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 4px;
    margin: 10px 0px;
    display: block;
}


/* SUMBIT BUTTON */
.submit-button {
    padding: 20px 50px;
    margin-top: 20px;
    width: 400px;
    border-radius: 6px;
    border: none;
    background-color: #c1b2aba7;
    box-shadow: 1px 1px 4px 0px #333;
    cursor: pointer;
    transition: box-shadow 0.7s ease-out;
    transition: transform 1s ease-out;
    font-size: 1.1rem;
}

.submit-button:hover {
    /* box-shadow: 1px 1px 14px 0px #333; */
    transform: scale(1.04);
    opacity: 0.85;
}

.submit-button:focus {
    outline: none;
    transform: scale(1.04);
    opacity: 0.85;
}


/* NOTES SPECIFIC */
.create-note-title,
.update-note-title {
    font-size: 2rem;
    margin-bottom: 12px;
}
