.game-container {
    height: 100vh;
    max-height: 100vh;
    min-width: 1000px;
    background-color: #333;
    display: grid;
    gap: 15px;
    grid-template-areas:
      'top top top top top'
      'notes rooms rooms rooms items'
      'notes rooms rooms rooms items'
      'notes rooms rooms rooms items'
      'notes rooms rooms rooms items'
      'notes logs logs logs items'
      'notes logs logs logs items';
    padding: 10px;
}

.top,
.notes,
.rooms,
.items,
.logs {
    border-radius: 6px;
}

.top {
    grid-area: top;
    position: relative;
    height: 125px;
}
.notes {
    grid-area: notes;
    border: 2px solid #3F3F3F;
    padding: 20px;
    max-width: 525px;
    overflow-y: auto;
}
.rooms {
    grid-area: rooms;
    border: 1px solid pink;
    min-width: 800px;
    position: relative;
}
.items {
    grid-area: items;
    border: 2px solid #3F3F3F;
    padding: 20px;
    max-width: 525px;
    overflow-y: auto;
}
.logs {
    grid-area: logs;
    border: 1px solid burlywood;
}
