.game-container {
    height: 100vh;
    width: 100%;
    /* min-width: 1000px; */
    background-color: #333;
    display: grid;
    gap: 15px;
    grid-template-areas:
      'top top top top top'
      'notes rooms rooms rooms items'
      'notes rooms rooms rooms items'
      'notes rooms rooms rooms items'
      'notes rooms rooms rooms items'
      'notes logs logs logs items'
      'notes logs logs logs items';
    padding: 10px;
}

.top,
.notes,
.rooms,
.items,
.logs {
    border-radius: 6px;
}

.top {
    grid-area: top;
    position: relative;
    height: 125px;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.notes {
    grid-area: notes;
    border: 2px solid #3F3F3F;
    padding: 20px;
    min-width: 360px;
    max-width: 525px;
    /* width: 100vh; */
    /* width: 360px; */
    overflow-y: auto;
}
.rooms {
    grid-area: rooms;
    min-width: 1080px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}
.items {
    grid-area: items;
    border: 2px solid #3F3F3F;
    padding: 20px;
    min-width: 360px;
    max-width: 525px;
    /* width: 100vh; */
    /* width: 360px; */
    overflow-y: auto;
}
.logs {
    grid-area: logs;
    border: 1px solid #3F3F3F;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
}
