footer {
    display: flex;
    justify-content: space-between;
    padding: 14px 14px;
    min-width: 1000px;
    /* background-color: #D9D9D9; */
    background-color: #333;
    color: #FFF;
    border-top: 1.5px solid #3F3F3F;
}

.footer-copyright-wrapper {
    display: flex;
    align-items: center;
}

.footer-icons {
    width: 30px;
    height: 30px;
}

.copyright-icon {
    width: 15px;
    height: 15px;
}

.footer-links {
    margin-right: 15px;
    transition: opacity 0.4s ease;
}

.footer-links:last-child {
    margin-right: 0px;
}

.footer-links:hover {
    opacity: 0.7;
}

.michael-linkedin {
    text-decoration: none;
    color: #FFF;
    font-weight: 900;
}

.michael-linkedin:hover {
    text-decoration: underline;
}

.fixed {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}
