/* PROFILE BUTTON */
.profile-button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 25px;
}

.profile-button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.profile-pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* PROFILE MENU */
.profile-menu-container {
    width: 150px;
    height: auto;
    padding: 20px 0px 0px;
    margin-right: 25px;
    background-color: #D9D9D9;
    position: absolute;
    top: 80px;
    right: 0px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 4px 4px 30px 0px #555;
}

.profile-username {
    text-align: center;
    font-weight: 600;
}

.game-logout-button,
.instructions-button {
    width: 100%;
    padding: 15px;
    text-align: center;
    transition: background-color 0.35s ease;
}

.game-logout-button:hover,
.instructions-button:hover {
    cursor: pointer;
}

.game-logout-button {
    background-color: #C1B2AB;
}

.game-logout-button:hover {
    background-color: #8a7b75;
    color: #FFF;
}

.instructions-button {
    margin-top: 5px;
    background-color: #54778bcb;
}

.instructions-button:hover {
    background-color: #435f70;
    color: #FFF;
}

.x {
    position: absolute;
    right: 3px;
    top: 3px;
    padding: 3px 3px 0px 3px;
}

.x:hover {
    /* box-shadow: 0px 0px 3px #999; */
    outline: 1px dotted #999;
    cursor: pointer;
}
