/* ROOM HEADERS */
.room-header {
    font-size: 3rem;
    font-weight: 600;
    color: #D9D9D9;
}

/* GENERAL TAGS: */
#hidden {
    display: none;
}


/* GENERAL ROOM IMGS */
.room-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 1s ease;
}

/* ========== ROOM 1 ========== */
.intro-story {
    font-size: 1.5rem;
    padding: 40px;
    color: #333;
}

.event-popup {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    margin: 20px 80px;
}

#blurry {
    filter: blur(10px);
}

.rub-eyes-button {
    position: absolute;
    padding: 20px 50px;
    margin-top: 20px;
    width: 200px;
    border-radius: 6px;
    border: none;
    background-color: #333;
    box-shadow: 1px 1px 4px 0px #333;
    cursor: pointer;
    transition: opacity 0.5s ease-out;
    opacity: 0.5;
    font-size: 1.1rem;
    top: 40%;
    left: 40%;
}

.rub-eyes-button:hover {
    opacity: 1;
}

.bottle {
    width: 8px;
    height: 30px;
    border-radius: 15px;
    background-color: none;
    position: absolute;
    bottom: 15%;
    left: 30%;
}

.bottle:hover {
    box-shadow: 0px 0px 12px 1px #D9D9D9;
    cursor: pointer;
}


/* ========== ROOM 2 ========== */
.room-2-note {
    width: 40px;
    height: 40px;
    background-color: #C1B2AB;
    border-radius: 6px;
    opacity: 0.4;
    position: absolute;
    right: 10%;
    top: 45%;
}
.room-2-note:hover {
    box-shadow: 0px 0px 12px 1px #D9D9D9;
}

.snake {
    width: 10px;
    height: 70px;
    border-radius: 15px;
    background-color: none;
    position: absolute;
    bottom: 2%;
    left: 50%;
}

.snake:hover {
    box-shadow: 0px 0px 12px 1px #D9D9D9;
}
