/* ROOM HEADERS */
.room-header {
    font-size: 3rem;
    font-weight: 600;
    color: #D9D9D9;
}

/* GENERAL TAGS: */
#hidden {
    display: none;
}



/* GENERAL ROOM IMGS */
.room-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 1s ease;
}



/* ========== ROOM 1 ========== */
.intro-story {
    font-size: 1.5rem;
    padding: 40px;
    color: #333;
}

.event-popup {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    margin: 20px 80px;
}

#blurry {
    filter: blur(10px);
}

.rub-eyes-button {
    position: absolute;
    padding: 20px 50px;
    margin-top: 20px;
    width: 200px;
    border-radius: 6px;
    border: none;
    background-color: #333;
    box-shadow: 1px 1px 4px 0px #333;
    cursor: pointer;
    transition: opacity 0.5s ease-out;
    opacity: 0.5;
    font-size: 1.1rem;
    top: 40%;
    left: 40%;
}

.rub-eyes-button:hover {
    opacity: 1;
}

.bottle {
    width: 6px;
    height: 20px;
    border-radius: 15px;
    background-color: none;
    position: absolute;
    bottom: 10%;
    left: 20%;
}

.bottle:hover {
    box-shadow: 0px 0px 12px 1px #D9D9D9;
    cursor: pointer;
}



/* ========== ROOM 2 ========== */
.room-2-note {
    width: 30px;
    height: 30px;
    background-color: #C1B2AB;
    border-radius: 6px;
    opacity: 0.2;
    position: absolute;
    right: 10%;
    top: 45%;
    transition: opacity 0.5s ease;
}
.room-2-note:hover {
    opacity: 0.4;
    box-shadow: 0px 0px 12px 1px #D9D9D9;
}

.snake {
    width: 8px;
    height: 40px;
    border-radius: 15px;
    background-color: none;
    position: absolute;
    bottom: -2%;
    left: 50%;
    transition: box-shadow 0.6s ease;
}

.snake:hover {
    box-shadow: 0px 0px 12px 1px #D9D9D9;
    cursor: pointer;
}



/* ========== ROOM 3 ========== */
.room-3-note {
    width: 40px;
    height: 40px;
    background-color: #C1B2AB;
    border-radius: 6px;
    opacity: 0.02;
    position: absolute;
    right: 2%;
    bottom: 20%;
    transition: opacity 0.4s ease;
}
.room-3-note:hover {
    opacity: 0.06;
    box-shadow: 3px 3px 12px 1px #D9D9D9;
}



/* ========== ROOM 4 ========== */
.room-4-console {
    width: 40px;
    height: 25px;
    background-color: none;
    border-radius: 12px;
    overflow: hidden;
    opacity: 0.15;
    position: absolute;
    right: 37%;
    top: 45%;
    transition: transform 0.5s ease;
}
.room-4-console:hover {
    transform: scale(1.15);
    cursor: pointer;
}
.room-4-console-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.room-4-rabbit {
    width: 40px;
    height: 40px;
    background-color: none;
    border-radius: 6px;
    opacity: 0.03;
    position: absolute;
    left: 3%;
    bottom: 25%;
    transition: transform 0.5s ease;
    transition: opacity 0.3s ease;
}
.room-4-rabbit:hover {
    transform: scale(1.1);
    opacity: 0.2;
    cursor: pointer;
}
.room-4-rabbit-img {
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    object-fit: cover;
}



/* ========== ROOM 5 ========== */
.room-5-bat {
    width: 40px;
    height: 40px;
    background-color: none;
    border-radius: 6px;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    top: 5%;
    transition: opacity 0.6s ease;
}
.room-5-bat:hover {
    opacity: 0.8;
    cursor: pointer;
}
.room-5-bat-img {
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    object-fit: cover;
    position: absolute;
}
.bat1 {
    left: 50%;
    top: 0%;
}
.bat2 {
    left: 160%;
    top: 70%;
}
.bat3 {
    left: -40%;
    top: 120%;
}
.bat4 {
    left: 0%;
    top: 50%;
}
.bat5 {
    left: -70%;
    top: -20%;
}
